@import url(http://fonts.googleapis.com/css?family=Raleway:600,800,400);
@import url(http://fonts.googleapis.com/css?family=Bitter);

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  color: $medium-green;

  @include media($small-screen-down) {
    font-size: larger;
  }

  a {
    text-decoration: none;
  }

  p & {
    margin: $large-spacing 0 $medium-spacing 0;
  }

  .author {
    color: $medium-gray;
    font-weight: 400;
  }
}


h2 {
  font-size: 150%;
  line-height: 150%;
}

h3 {
  font-size: 125%;
  line-height: 150%;
}

h4 {
  font-size: 100%;
  line-height: 150%;
}

p {
  margin: 0 0 $medium-spacing;
}

a {
  color: $action-color;
  text-decoration: underline;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: $large-spacing;
  margin-bottom: $medium-spacing;

  li {
    margin: $small-spacing 0;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: $large-spacing;
  margin-bottom: $medium-spacing;

  li {
    margin: $small-spacing 0;
  }
}
