@import url(http://fonts.googleapis.com/css?family=Raleway:600,800,400);
@import url(http://fonts.googleapis.com/css?family=Bitter);

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  color: $medium-green;

  @include media($small-screen-down) {
    font-size: larger;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin: $large-spacing 0 $medium-spacing 0;
}

h2 {
  font-size: 120%;
  line-height: 150%;
}

p {
  margin: 0 0 $medium-spacing;
}

a {
  color: $medium-green;
  text-decoration: underline;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($medium-green, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: $large-spacing;
  margin-bottom: $medium-spacing;

  li {
    margin: $small-spacing 0;
  }
}
